.btn-section {
  padding: 5px 20%;
  margin-left: 15%;
  margin-right: 15%;
}
.btn-streched-single-btn {
  min-width: 342px !important;
}

.worker-profile, .company-details {
  min-height: 83vh !important;
  max-height: 83vh !important;
  margin-left: 15%;
  margin-right: 15%;
}

/* ::ng-deep .company-details .work-image {
  width: 69vw !important;
} */

@media only screen and (max-width: 1023px) {
  .btn-section {
    padding: 5px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .btn-streched-single-btn {
    min-width: 97vw !important;
  }

  .worker-profile, .company-details{
    min-height: 81vh !important;
    max-height: 81vh !important;
    margin-left: 0px;
    margin-right: 0px;
  }
}