<!-- The Modal -->
<div class="modal fade" id="errorModal">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Oops.</h4>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
        Slow or no internet connection.
        Please check your internet settings and try again.
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"  (click)="reloadRoute()">Give it another try!</button>
      </div>
    </div>
  </div>
</div>
