a{
  text-decoration: none;
  cursor: pointer;
}

::ng-deep .content-bg{
  background: white !important;
}
.form-cotent {
  min-height: 83.5vh; 
  background: url('../../../assets/images/landing-page/left-bg-star.png') !important;
  overflow-x: hidden;
  z-index: 1;
}
.form-content-background {
  background: #f2f3f5b3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 83.5vh;
}

/* -------- stepper --------- */
.dots{
  background-color: #f2f3f54a !important;
}

/* --------- button ----------- */
/* .btn-streched-single-btn {
  min-width: 342px !important;
} */
.finish-btn{
  color: #fff;
  background-color: #00b0f0;
  border-color: #00b0f0;
}

/* ----- pager ----- */
.pager-right {
  padding-left: 120px !important;
}
.next{
  cursor: pointer;
}

/* ------ modal ---- */
.modal-dialog{
  margin-top: 5px;
  margin-bottom: 0px;
}

.profile-pic, .cover-photo{
  cursor: default;
}

/* ::ng-deep .worker-profile .logo-cover-section {
  margin-top: -68px;
} */

@media only screen and (max-width: 1023px) {
  .form-cotent {
    min-height: 75vh; 
  }
  .form-content-background {
    min-height: 75vh;
  }

  /* .form-content-background{
    background: white;
  } */

  /* --------- button ----------- */
  /* .btn-streched-single-btn {
    min-width: 95vw !important;
  } */
  /* .finish-btn{
    color: #fff;
    background-color: #00b0f0;
    border-color: #00b0f0;
  } */

  /* --------- form ------------ */
  ::ng-deep  .form-award{
    height: 67vh !important;
    overflow-y: scroll !important;
    overflow-x: hidden;
  }

  
  /* ------------ pager ------------ */
  ::ng-deep .pager {
    position: -webkit-sticky !important;
    position: sticky !important;
    bottom: 0rem !important;
    align-self: flex-end !important;
    margin-top: 0px !important;
    padding-top: 6px !important;
    padding-left: 10px;
    padding-right: 23px;
    /* background: #fbfbfb; */
    height: 40px;
    box-shadow: 0 -4px 6px -6px #222;
    z-index: 1;
    background: white;
  }
  .pager .previous a {
    margin-left: -26px !important;
  }

  .dots{
    bottom: 2vh !important;
    background-color: white !important;
  }
}
