<div class="container">
  <br>
  <div class="head" style="margin-top: -10px;">
    <b>PRIVACY POLICY</b>
  </div>
  <div class="policy mt-3">
      <p>This Privacy Policy addresses Yaywerk’s practices regarding information collected from users and visitors of our Services and only addresses information collected 
        directly through or from our Services – it does not address or govern any information-gathering, use, or dissemination practices related to information collected 
        from the visitor (sometimes referred to as a “visitor,” "you" or "your") other than directly through or from our Services, such as from telephone, facsimile, 
        postal mail, personal delivery, or other or additional offline means or media.
      </p>
      <p>
          This Privacy Policy is incorporated into Yaywerk’s Terms and Conditions by reference, as if set forth fully therein, which must be reviewed and accepted by you. 
      </p>
      <ol>
          <li>
            <h6>Collection of Personal Information from Services Visitors.</h6>
            <p>
                In addition to other collection methods specifically set forth herein, Yaywerk may collect: (a) the email addresses of users that communicate with 
                Yaywerk via email; and (b) information knowingly provided by the user through our Services in informational sections, including any contact, registration, 
                or application forms. Yaywerk may also use Internet cookies and other identifiers or methods of web analysis to gather, store, and track certain 
                information related to your visit to and activity on our Services. If you are uncomfortable with the idea of your information being used in this way, 
                most computer systems and web browsers offer privacy settings and options, such as disabling cookies or opting for “Do Not Track” features. Yaywerk does 
                not override these settings or options, and encourages you to use them to enhance your choices and personalize your experiences. However, in order to 
                access certain content, features, services, products or benefits on our Services, you may be required to provide Yaywerk with certain information, 
                including some types of personally identifying information such as your email, educational institution, business affiliation, address, and phone number. 
                If you do not wish to provide such information through our Services or if you opt to utilize the aforementioned privacy features of your computer system 
                or web browser, you may not be able to obtain certain content, features, services, products or benefits of our Services.
            </p>
          </li>
          <li>
              <h6>Use of Personal Information Collected.</h6>
              <p>
                  Personal information collected by Yaywerk may be used by Yaywerk for limited purposes, including recordkeeping, editorial and feedback purposes, 
                  content improvement, or to customize the content and layout of our Services. Personally identifying information, such as names, postal and email 
                  addresses, phone numbers, and other personal information voluntarily provided to Yaywerk may be added to Yaywerk’s databases and used for future 
                  contact regarding updates to our Services or new services provided by Yaywerk. From time to time, Yaywerk may need to contact you regarding information 
                  you submitted to Yaywerk. You agree that Yaywerk may use your personal information for such contact with you. Yaywerk may also desire to contact you 
                  for market research purposes or to provide you with marketing information that Yaywerk believes would be of particular interest. You will have the option 
                  of not being contacted by Yaywerk and opting-out of such contacts by selecting the opt-out option in your profile. You may also opt-out from receiving 
                  certain messages in the manner set forth below.
              </p>
            </li>
            <li>
                <h6>Disclosure of Personal Information to Third parties.</h6>
                <p>
                    Except as specifically set forth herein, any personally-identifying information that you provide to Yaywerk through our Services will not be 
                    disclosed to third parties not affiliated with Yaywerk. Notwithstanding the foregoing, any information you submit to Yaywerk, including any 
                    personally-identifying information you include in your personal profile with our Services, may be viewed and accessed by others, and may be indexed 
                    and displayed through our Services’s internal search engines. Your personally-identifying information may also be disclosed to third parties in order 
                    to verify that information, including by contacting your educational institution or business affiliation, and in order to provide you with the services 
                    requested through our Services, including to third party payment processors for the processing of payments. Personally-identifying information may be 
                    used by Yaywerk approved third party vendors to assist Yaywerk in providing, improving, analyzing, and securing our Services. Identifying and 
                    non-identifying user information and data may also be disclosed or distributed to a third party with which Yaywerk enters or reasonably may enter 
                    into a corporate transaction, such as, for example, a merger, consolidation, acquisition, or asset purchase, or to a third party pursuant to a subpoena, 
                    court order, or other form of legal process, in response to a request by or on behalf of any local, state, federal, or other government agency, department, 
                    or body, whether or not pursuant to a subpoena, court order, or other form of legal process, or if determined by Yaywerk in its sole judgment that such 
                    disclosure or distribution is appropriate to protect the life, health, or property of Yaywerk or any other person or entity. In addition, identifying and 
                    non-identifying user information and data may be provided to third parties that contract with Yaywerk to provide products, information, or other services 
                    that Yaywerk believes that visitors to our Services may be interested in obtaining. While Yaywerk may undertake efforts to see that any third party to 
                    which Yaywerk discloses personally-identifying information is under an obligation to use the personal information solely for the purposes for which the 
                    information was disclosed, such third parties are independent third parties over which Yaywerk exercises no control. Yaywerk is not responsible for, and 
                    will not be liable for, the conduct, actions, omissions, or information handling or dissemination practices of third parties.
                </p>
            </li>
            <li>
                <h6>Links to Other Services.</h6>
                <p>
                    Our Services may also contain links to third party websites. Our Services may contain links to other Internet websites for the convenience of users in 
                    locating information, products, or services that may be of interest. If you access a third party website from a link on our Services, any information 
                    you disclose on that website is not subject to this Privacy Policy. It is possible that these links may be used by third parties or others to collect 
                    personal or other information about you. Yaywerk is not responsible for the privacy practices of such websites, advertisers, or third parties or the 
                    content of such websites and it is your sole obligation to review and understand the privacy practices and policies of these other websites. Yaywerk 
                    does not control these third parties’ use of cookies, collection of information, or how they manage such information. It is solely your obligation to 
                    review and understand the privacy practices and policies of these other websites, advertisers and any third parties.
                </p>
            </li>
            <li>
                <h6>Comments and User Content.  </h6>
                <p>
                    All materials or comments posted to public areas of our Services are public. Yaywerk assumes no liability for the accuracy of such information, 
                    no duty to update or correct such information, and no liability for such communications arising under the laws of copyright, libel, privacy, obscenity, 
                    or otherwise.
                </p>
            </li>
            <li>
                <h6>Security Measures and Communicating with Yaywerk.  </h6>
                <p>
                    Please be advised that the security and confidentiality of any communication or material transmitted through the Internet or any wireless network, 
                    including via our Services, email or text messages,cannot be and is not guaranteed. You acknowledge that the technical processing and transmission 
                    of our Services’ content may be transferred unencrypted and may involve: (a) transmissions over various networks; and (b) changes to conform and adapt 
                    to technical requirements of connecting networks or devices. Accordingly, Yaywerk is not responsible for the security of information transmitted via 
                    the Internet or any wireless network.
                </p>
            </li>
            <li>
                <h6>Access to and Ability to Correct Personal Information; Opt-Out Right.  </h6>
                <p>
                    Upon your request, Yaywerk will provide you with a summary of any personally-identifying information retained by Yaywerk that has been voluntarily 
                    provided by you to Yaywerk through email, contact forms, or other online avenues. You may modify, correct, change, or update this information by 
                    contacting Yaywerk at the email address set forth in the contact us page. In addition, except as necessary to obtain the services or information 
                    requested through our Services, you may opt out of having your personally-identifying information prospectively retained by Yaywerk by contacting 
                    Yaywerk at the email address set forth below. This provision does not apply to collection of through the standard data tracking features of our 
                    Services, such as Internet cookies and other identifiers or methods of web analysis, or to any other information that does not meet the description 
                    hereunder. As set forth above, many computer systems and web browsers offer privacy settings and options that may allow you to opt-out of some of 
                    these data tracking and collection methods. 
                </p>
                <p>
                    If you wish to opt-out of receiving promotional emails at any time, please click the “unsubscribe” link at the bottom of the email. 
                </p>
                <p>
                    You may also opt-out from receiving further text messages by: texting STOP, UNSUBSCRIBE or CANCEL in response to our text message; by emailing your 
                    request to us or by calling us at the phone number listed below. 
                </p>
                <p>
                    Please also be advised that your desire to opt-out of future communications will not be effective (nor will your Services 
                    registration or account be terminated) simply by deleting our App from your mobile device. Opting-out from promotional emails becomes 
                    effective only by following the process described above. Your Services registration and account can only be terminated by following the procedures 
                    described in Yaywerk's Terms and Conditions.
                </p>
            </li>
            <li>
                <h6>Right to Change Privacy Policy.  </h6>
                <p>
                    Yaywerk reserves the right at any time to modify, alter or update this Privacy Policy. Your use of our Services following any changes means that 
                    you agree to follow and be bound by the Privacy Policy as changed. Any change to this Privacy Policy shall be effective as to any visitor who has 
                    visited our Services before the change was made. It is the obligation of users visiting our Services before the change to learn of changes to the 
                    Privacy Policy since their last visit.
                </p>
            </li>
            <li>
                <h6>Email, SMS, and Push Notification Communications.</h6>
                <p>
                    We may communicate with you via email, SMS or other text message (“Text Message”) or push notifications, to the extent you permit us to do so, and 
                    we may collect information regarding such communications, such as confirmation when you open an email, read a Text Message or receive a push 
                    notification. We use this information to improve our Services, including without limitation our customer service. We will never share this information 
                    with a third party, except as expressly provided in our Privacy Policy. You may opt-out of receiving these messages at any time by sending us a request 
                    over email, and, if you have previously elected to receive Text Messages from Yaywerk, you may also opt out by responding “STOP” to any Text Message. 
                    You acknowledge that opting out of receiving text (SMS) messages may impact your use of the Services.
                </p>
            </li>
            <li>
                <h6>Information Received from Third Parties</h6>
                <p>
                    Third parties may also give us information about you. If we combine that information with information about you collected through the Service, 
                    we will still treat that combined information as set forth in this Privacy Policy.
                </p>
                <p>
                    We also may receive information about you from third parties. For example, we may supplement the information we collect with outside records or 
                    third parties may provide information in connection with a co-marketing agreement or at your request (such as if you choose to sign in with a 
                    third-party service). If we combine the information we receive from others with information we collect through the Service, we will treat the combined 
                    information as described in this Privacy Policy.
                </p>
            </li>
            <li>
                <h6>Information Collected Automatically</h6>
                <p>
                    Like other online companies, we receive technical information when you use our Services. We use these technologies to analyze how people use our 
                    Services, to improve how our Site functions, to save your log-in information for future sessions, and to serve you with advertisements that may 
                    interest you.
                </p>
                <p>
                    We and our third party service providers, including analytics and third party content providers, may automatically collect certain information 
                    from you whenever you access or interact with the Service. This information may include, among other information, the browser and operating system 
                    you are using, the URL or advertisement that referred you to the Service, the search terms you entered into a search engine that led you to the Service, 
                    areas within the Service that you visited, and other information commonly shared when browsers communicate with websites. We may combine this automatically 
                    collected log information with other information we collect about you. We do this to improve services we offer you, to improve marketing, analytics, 
                    and site functionality.
                </p>
                <p>
                    The information we collect also includes the Internet Protocol (“IP”) address or other unique device identifier (“Device Identifier”) for any 
                    device (computer, mobile phone, tablet, etc.) used to access the Service. A Device Identifier is a number that is automatically assigned or connected 
                    to the device you use to access the Service, and our servers identify your device by its Device Identifier. Some mobile service providers may also 
                    provide us or our third party service providers with information regarding the physical location of the device used to access the Service.
                </p>
            </li>
            <li>
                <h6>User Profiles</h6>
                <p>
                    Freelancers may create a profile, with certain or all information publicly available. Clients and Agencies may also create organization profiles.
                </p>
                <p>
                    You may have the opportunity to create a profile, which consists of information about you, and may include Personal Information, photographs, 
                    examples of your work, information on work previously performed via the Service and outside the Service, skills, tests taken, test scores, hourly pay 
                    rates, feedback/rating information and other information, including your username (“Profile”). The information in your Profile may be visible to all 
                    Yaywerk Users and the general public subject to the privacy choices you make within your Yaywerk Profile. You may edit certain information in your 
                    Profile via your account and may choose to limit who is able to view certain content you post to your Profile. Clients and Agencies of associated 
                    individual users or companies may also have the opportunity to create an organization Profile. If, in any case, you believe that an unauthorized 
                    profile has been created about you, you can request for it to be removed by contacting us.
                </p>
            </li>
            <li>
                <h6>Messaging</h6>
                <p>
                    Users may communicate with each other through the Service. For example, users may wish to discuss Client needs and Users work proposals. 
                    If you communicate with an Agency or Client, that Agency or Client will also be a “data controller” with respect to such communications.
                </p>
            </li>
            <li>
                <h6>Community Forums</h6>
                <p>
                    We may offer public forums or blogs. If you participate, your comments and questions will be publicly displayed.
                </p>
                <p>
                    The Service may provide you the opportunity to participate and post content publicly in forums, on blogs, through interactive features Yaywerk and 
                    through other communication functionality (“Community Forums”). You may choose, through such features or otherwise, to submit or post questions, 
                    comments, or other content (collectively, “User Forum Content”). Please note that certain information, such as your name and Profile may be publicly 
                    displayed on the Service along with your User Forum Content. Please note that your use of Community Forums is subject to the Yaywerk Forum Rules and 
                    our Terms of Service.
                </p>
            </li>
      </ol>
  </div>
</div>