<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">
    <img class="logo" src="assets/images/logo_spot.png" alt="image">
  </a>
</nav>

<div class="col-md-8 mx-auto">
  <h5 class="mt-3">Create New Password</h5>
  <form #forgetPw="ngForm" [formGroup]="forgetPwForm">
    <div class="form-group input-group mt-3">
      <label class="material-field">
        <input 
            formControlName="password"
            type="password" 
            class="form-control"
            placeholder=" ">
          <span>New Password</span>
      </label>
      <div *ngIf="forgetPwForm.get('password').touched && forgetPwForm.get('password').invalid" class="alert alert-danger">
				<div *ngIf="forgetPwForm.get('password').errors.required">*Password is required</div>
				<div *ngIf="forgetPwForm.get('password').errors.minlength">*Password should be minimum
          {{forgetPwForm.get('password').errors.minlength.requiredLength}} characters
        </div>
				<div *ngIf="forgetPwForm.get('password').errors.pattern">*Password should contain at least one lowercase, one uppercase and one number.</div>
				<div *ngIf="forgetPwForm.get('password').errors.backend">*{{forgetPwForm.get('password').errors.backend}}</div>
			</div>
    </div>
    <div class="form-group input-group">
      <label class="material-field">
        <input
          formControlName="rePassword"
          type="password" 
          class="form-control"
          placeholder=" ">
        <span>Retype New Password</span>
      </label>
      <div *ngIf="forgetPwForm.get('rePassword').touched && forgetPwForm.get('rePassword').invalid" class="alert alert-danger">
				<div *ngIf="forgetPwForm.get('rePassword').errors.required">*Retype Password is required</div>
				<div *ngIf="forgetPwForm.get('rePassword').errors.minlength">*Retype Password should be minimum
					{{forgetPwForm.get('rePassword').errors.minlength.requiredLength}} characters</div>
				<div *ngIf="forgetPwForm.get('rePassword').errors.backend">*{{forgetPwForm.get('rePassword').errors.backend}}</div>
			</div>
    </div>
    <div class="confirm text-center">
      <button type="submit" class="btn btn-primary conf-btn" style="border-radius: 10px">Confirm
        <i *ngIf="circleSpin" class="fa fa-circle-o-notch fa-spin"></i>
      </button>
    </div>
  </form>
</div>
