<!----------- password reset request form  ----------->
<div class="container" *ngIf="!showPasswordReset" style="margin-top: 23vh">
	<div class="col-md-4 mx-auto mt-3">
		<h6 class="mt-2 text-center">Enter phone number to reset password</h6>
		<form #forgetPassword="ngForm" [formGroup]="recoveryForm">
			<div class="form-group mt-4">
				<div class="input-group">
					<label class="material-field">
						<input
							formControlName="phone"
							type="text"
							class="form-control"
							placeholder=" "
						/>
						<span>Phone Number 01XXXXXXXXX</span>
					</label>
					<div
						*ngIf="recoveryForm.get('phone').touched && recoveryForm.get('phone').invalid"
						class="alert alert-danger"
					>
						<div *ngIf="recoveryForm.get('phone').errors.required">
							*Phone Number is required
						</div>
						<div *ngIf="recoveryForm.get('phone').errors.minlength">
							*Phone Number should be minimum
							{{ recoveryForm.get("phone").errors.minlength.requiredLength }} characters
						</div>
						<div *ngIf="recoveryForm.get('phone').errors.maxlength">
							*Phone Number should be maximum
							{{ recoveryForm.get("phone").errors.maxlength.requiredLength }} characters
						</div>
						<div *ngIf="recoveryForm.get('phone').errors.pattern">
							*Invalid Phone Number! e.g. 01XXXXXXXXX
						</div>
						<div *ngIf="recoveryForm.get('phone').errors.backend">
							*{{ recoveryForm.get("phone").errors.backend }}
						</div>
					</div>
				</div>
			</div>
			<div class="confirm text-center">
				<ng-container *ngIf="!circleSpin; else loaderConfirm">
					<button 
						type="submit" 
						class="btn btn-primary conf-btn" 
						(click)="sendOTP(recoveryForm.value)" 
						style="border-radius: 10px"
					>
						Confirm
					</button>
				</ng-container>
				<ng-template #loaderConfirm>
					<button type="submit" class="btn btn-primary conf-btn" disabled>
						Confirm <i class="fa fa-circle-o-notch fa-spin"></i>
					</button>
				</ng-template>
				</div>
		</form>
	</div>
</div>

<!--------------- update password ------------------>
<div class="container" *ngIf="showPasswordReset" style="margin-top: 23vh">
	<div class="col-md-4 mx-auto">
		<h4 class="mt-3 text-center">Reset Password</h4>
		<form #forgetPw="ngForm" [formGroup]="passwordForm">
			<div class="form-group mt-4">
				<div class="input-group">
					<label class="material-field">
						<input
							formControlName="phone"
							type="text"
							class="form-control"
							placeholder=" "
						/>
						<span>Phone Number 01XXXXXXXXX</span>
					</label>
					<div
						*ngIf="passwordForm.get('phone').touched && passwordForm.get('phone').invalid"
						class="alert alert-danger"
					>
						<div *ngIf="passwordForm.get('phone').errors.required">
							*Phone Number is required
						</div>
						<div *ngIf="passwordForm.get('phone').errors.minlength">
							*Phone Number should be minimum
							{{ passwordForm.get("phone").errors.minlength.requiredLength }} characters
						</div>
						<div *ngIf="passwordForm.get('phone').errors.maxlength">
							*Phone Number should be maximum
							{{ passwordForm.get("phone").errors.maxlength.requiredLength }} characters
						</div>
						<div *ngIf="passwordForm.get('phone').errors.pattern">
							*Invalid Phone Number! e.g. 01XXXXXXXXX
						</div>
						<div *ngIf="passwordForm.get('phone').errors.backend">
							*{{ passwordForm.get("phone").errors.backend }}
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<label class="material-field">
            <input
              formControlName="code"
              type="text"
              class="form-control"
              placeholder=" "
            />
            <span>OTP Code</span>
          </label>
          <div
            *ngIf="passwordForm.get('code').touched && passwordForm.get('code').invalid"
            class="alert alert-danger"
          >
            <div *ngIf="passwordForm.get('code').errors.required">
              *OTP Code is required
            </div>
            <div *ngIf="passwordForm.get('code').errors.minlength">
              *OTP Code should be minimum
              {{ passwordForm.get("code").errors.minlength.requiredLength }} characters
            </div>
            <div *ngIf="passwordForm.get('code').errors.maxlength">
              *OTP Code should be maximum
              {{ passwordForm.get("code").errors.maxlength.requiredLength }} characters
            </div>
            <div *ngIf="passwordForm.get('code').errors.pattern">
              *Invalid OTP Code. Use Only Numbers.
            </div>
            <div *ngIf="passwordForm.get('code').errors.backend">
              *{{ passwordForm.get("code").errors.backend }}
            </div>
          </div>
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<label class="material-field">
						<input formControlName="password" type="password" placeholder=" ">
						<span>New Password</span>
					</label>
					<div *ngIf="passwordForm.get('password').touched && passwordForm.get('password').invalid" class="alert alert-danger">
						<div *ngIf="passwordForm.get('password').errors.required">*Password is required</div>
						<div *ngIf="passwordForm.get('password').errors.minlength">*Password should be minimum {{passwordForm.get('password').errors.minlength.requiredLength}} characters</div>
						<div *ngIf="passwordForm.get('password').errors.pattern">
							<!-- *Password should contain at least one lowercase, one uppercase and one -->
							*Password should contain at least one character and one
							number.
						</div>
						<div *ngIf="passwordForm.get('password').errors.backend">*{{passwordForm.get('password').errors.backend}}</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<label class="material-field">
						<input type="password" formControlName="confirm_password" type="password" placeholder=" ">
						<span>Retype New Password</span>
					</label>
				</div>
				<div *ngIf="passwordForm.get('confirm_password').touched && passwordForm.get('confirm_password').invalid"  class="alert alert-danger">
					<div *ngIf="passwordForm.get('confirm_password').errors.required">*Password is required</div>
					<div *ngIf="passwordForm.get('confirm_password').errors.minlength">*Password should be minimum {{passwordForm.get('confirm_password').errors.minlength.requiredLength}} characters</div>
					<div *ngIf="passwordForm.get('confirm_password').errors.backend">*{{passwordForm.get('confirm_password').errors.backend}}</div>
				</div>
			</div>
			<div class="confirm text-center">
				<ng-container *ngIf="!circleSpin; else loaderConfirm">
					<button 
						type="submit" 
						class="btn btn-primary conf-btn" 
						(click)="forgetPasswordUpdate(forgetPw.value)" 
						style="border-radius: 10px"
					>
						Confirm
					</button>
				</ng-container>
				<ng-template #loaderConfirm>
					<button type="submit" class="btn btn-primary conf-btn" disabled>
						Confirm <i class="fa fa-circle-o-notch fa-spin"></i>
					</button>
				</ng-template>
			</div>
		</form>
	</div>
</div>

<app-login></app-login>
<app-register></app-register>