<div class="modal fade" id="contactSupportModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<div class="modal-title">Contact Support</div>
				<button type="button" class="close" data-dismiss="modal" style="margin-top: -11px;">
					&times;
				</button>
			</div>

			<!-- Modal body -->
			<div class="modal-body" style="padding: 38px; font-size: 22px; font-weight: bold; min-height: 83.5vh;">
				Contact Address: 2nd Floor, House: 14(Sazanas), Road: 32, Gulshan-1.
				<br>
				<br>
				Hotline: +88 01792-465877
				<br>
				<br>
				Email: info@yaywerk.com
			</div>
		</div>
	</div>
</div>