<app-private-layout></app-private-layout>

<div class="form-cotent">
  <div class="form-content-background">
    <h4 class="header-card text-center">Change Password</h4>
  
    <div [ngClass]="isMobile ? 'col-12' : 'col-6 offset-3'">
      <form class="content-bg" #change="ngForm" [formGroup]="changePw">
          <!-- current password -->
          <div class="form-group">
            <div class="input-group">
              <label class="material-field">
                <input 
                  type="password"
                  formControlName="current_password"
                  placeholder=" ">
                <span>Current Password</span>
              </label>
              <div *ngIf="changePw.get('current_password').touched && changePw.get('current_password').invalid" class="alert alert-danger">
                <div *ngIf="changePw.get('current_password').errors.required">*Current password is required</div>
                <div *ngIf="changePw.get('current_password').errors.backend">*{{changePw.get('current_password').errors.backend}}</div>
              </div>
            </div>
          </div>
  
          <!-- new password -->
          <div class="form-group">
            <div class="input-group">
              <label class="material-field">
                <input 
                  type="password"
                  formControlName="new_password"
                  placeholder=" ">
                <span>New Password</span>
              </label>
              <div *ngIf="changePw.get('new_password').touched && changePw.get('new_password').invalid" class="alert alert-danger">
                <div *ngIf="changePw.get('new_password').errors.required">*New password is required</div>
                <div *ngIf="changePw.get('new_password').errors.minlength">*New password should be minimum
                  {{changePw.get('new_password').errors.minlength.requiredLength}} characters
                </div>
                <div *ngIf="changePw.get('new_password').errors.pattern">*New password should contain at least one character and one
                  number.</div>
                <div *ngIf="changePw.get('new_password').errors.backend">*{{changePw.get('new_password').errors.backend}}</div>
              </div>
            </div>
          </div>
  
          <!-- retype password -->
          <div class="form-group">
            <div class="input-group">
              <label class="material-field">
                <input 
                  type="password"
                  formControlName="confirm_password"
                  placeholder=" ">
                <span>Retype New Password</span>
              </label>
              <div *ngIf="changePw.get('confirm_password').touched && changePw.get('confirm_password').invalid" class="alert alert-danger">
                <div *ngIf="changePw.get('confirm_password').errors.required">*Retype Password is required</div>
                <div *ngIf="changePw.get('confirm_password').errors.backend">*{{changePw.get('confirm_password').errors.backend}}</div>
                <div *ngIf="changePw.get('confirm_password').errors.passwordNotMatch">New Password does not match the confirm password</div>
              </div>
            </div>
          </div>
  
        <div class="confirm text-center">
          <ng-container *ngIf="!circleSpin; else loaderConfirm">
            <button type="submit" class="btn conf-btn" (click)="changePassword(change.value)">
              Confirm
            </button>
          </ng-container>
          <ng-template #loaderConfirm>
            <button type="submit" class="btn conf-btn" disabled>
              Confirm <i class="fa fa-circle-o-notch fa-spin"></i>
            </button>
          </ng-template>
        </div>
      </form>
    </div>
  </div>
</div>