.navbar {
  overflow: hidden;
}
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(149, 165, 166, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
/* .navbar-dark .navbar-toggler-icon-work {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(43, 203, 186, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
} */
.navbar-brand,
.work {
  color: #2bcbba !important;
  font-weight: bold;
}
.hire {
  color: #00b0f0 !important;
  font-weight: bold;
}
.navbar-dark .navbar-nav .active > .nav-link {
  border-bottom: 1px solid #34495e;
}
.tableImg {
  height: 60px;
  width: 60px;
  object-fit: cover !important;
  object-position: center 20% !important;
}
.firstPart {
  padding-bottom: 2rem;
  background-color: #fbfbfb;
}
.sidenav {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  overflow-y: auto;
  transition: all 0.5s ease;
  clear: both;
}

.sidenav a.navLink {
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  font-size: 20px;
  color: #34495e;
  display: block;
  transition: 0.3s;
  font-weight: bold;
}

.sidenav a.navLink:hover {
  color: #34495e;
}
a.closeCross {
  cursor: pointer;
  color: #34495e;
  font-size: 40px;
  padding-top: -10px;
}
a.closeCross:hover {
  color: #34495e;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

.navbar-expand-lg .navbar-toggler {
  display: block !important;
}

#overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}
.navbar-toggler {
  border: none !important;
  outline: none !important;
}

.username {
  color: #34495e;
  font-size: 20px;
  padding: 10px 0px 0px 0px;
  font-weight: bold;
}
a.viewLink {
  font-size: 16px;
  text-decoration: none;
  color: #34495e;
  transition: 0.3s;
}
a.viewLink:hover {
  color: #34495e;
}
a.closebtn:hover {
  color: #34495e;
}

.navLink > .fa {
  margin-right: 10px;
  padding: 9px;
  background: #a9a9a945;
  border-radius: 50%;
  width: 41px;
  text-align: center;
}

.sidenav {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

::ng-deep .nav-active {
  color: #00b0f0 !important;
}

/* icon counter */
/* .fa-stack{
  font-size: 12px;
  height: 1.6em;
}
.fa-stack-2x{
  font-size: 21px;
}
.fa-stack[data-count]:after{
  position: absolute;
  right: -35%;
  top: -36%;
  content: attr(data-count);
  font-size: 10px;
  padding: 6px 4px;
  border-radius: 26%;
  line-height: .75em;
  color: white;
  background: #e74c3c;
  text-align: center;
  min-width: 18px;
  font-weight: bold;
} */
.notification {
  color: white;
  text-decoration: none;
  padding: 0px 5px;
  position: relative;
  display: inline-block;
}
/* .notification:hover {
  background: #0498ce;
} */
.notification .badge {
  position: absolute;
  top: -9px;
  right: -4px;
  padding: 4px 4px;
  border-radius: 50%;
  background: #e74c3c;
  color: white;
  /* font-weight: bold; */
  font-size: 12px;
  min-width: 20px;
}
.notif-chat {
  margin-right: 15px;
  float: right;
  color: #95a5a6 !important;
}
.notif-activities{
  margin-right: 15px; 
  float: right; 
  color: #95a5a6 !important;
}

.nav-item {
  padding: 0px 8px;
  margin: 0px 3px;
  text-align: center;
  border-radius: 5px
}

.nav-item.active {
    background-color: #9E9E9E
}

.nav-item.active:hover {
    background-color: #9E9E9E
}

/* limiting icon text show before rendering icon */
.clat-icon, .bell-icon {
  max-width: 25px;
  overflow: hidden;
}

@media only screen and (max-width: 1023px) {
  .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(149, 165, 166, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  /* .navbar-dark .navbar-toggler-icon-work {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(43, 203, 186, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  } */
  .navbar-brand,
  .work {
    color: #2bcbba !important;
    /* font-weight: bold; */
    width: 89px;
  }
  .hire {
    color: #00b0f0 !important;
    /* font-weight: bold; */
  }
  .navbar-dark .navbar-nav .active > .nav-link {
    border-bottom: 1px solid #34495e;
  }
  .tableImg {
    height: 60px;
    width: 60px;
    object-fit: cover !important;
    object-position: center 20% !important;
  }
  .firstPart {
    padding-bottom: 2rem;
    background-color: #fbfbfb;
  }
  .sidenav {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    overflow-y: auto;
    transition: all 0.5s ease;
    clear: both;
  }

  .sidenav a.navLink {
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    font-size: 20px;
    color: #34495e;
    display: block;
    transition: 0.3s;
    font-weight: bold;
  }

  .sidenav a.navLink:hover {
    color: #34495e;
  }
  a.closeCross {
    cursor: pointer;
    color: #34495e;
    font-size: 40px;
    padding-top: -10px;
  }
  a.closeCross:hover {
    color: #34495e;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  #main {
    transition: margin-left 0.5s;
    padding: 16px;
  }

  .navbar-expand-lg .navbar-toggler {
    display: block !important;
  }

  #overlay {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .navbar-toggler {
    border: none !important;
    outline: none !important;
  }

  .username {
    color: #34495e;
    font-size: 20px;
    padding: 10px 0px 0px 0px;
    font-weight: bold;
  }
  a.viewLink {
    font-size: 16px;
    text-decoration: none;
    color: #34495e;
    transition: 0.3s;
  }
  a.viewLink:hover {
    color: #34495e;
  }
  a.closebtn:hover {
    color: #34495e;
  }

  .navLink > .fa {
    margin-right: 10px;
    padding: 9px;
    background: #a9a9a945;
    border-radius: 50%;
    width: 41px;
    text-align: center;
  }

  .sidenav {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  }

  ::ng-deep .nav-active {
    color: #00b0f0 !important;
  }

  /* icon counter */
  /* .fa-stack{
    font-size: 12px;
    height: 1.6em;
  }
  .fa-stack-2x{
    font-size: 21px;
  }
  .fa-stack[data-count]:after{
    position: absolute;
    right: -35%;
    top: -36%;
    content: attr(data-count);
    font-size: 10px;
    padding: 6px 4px;
    border-radius: 26%;
    line-height: .75em;
    color: white;
    background: #e74c3c;
    text-align: center;
    min-width: 18px;
    font-weight: bold;
  } */
  .notification {
    color: white;
    text-decoration: none;
    padding: 0px 5px;
    position: relative;
    display: inline-block;
  }
  /* .notification:hover {
    background: #0498ce;
  } */
  .notification .badge {
    position: absolute;
    top: -9px;
    right: -4px;
    padding: 4px 4px;
    border-radius: 50%;
    background: #e74c3c;
    color: white;
    /* font-weight: bold; */
    font-size: 12px;
    min-width: 20px;
  }
  .notif-chat {
    margin-right: -34vw; 
    float: right; 
    color: #95a5a6;
  }
  .notif-activities{
    margin-right: -65px; 
    float: right; 
    color: #95a5a6;
  }

  .nav-item {
    padding: 0px 8px;
    margin: 0px 3px;
    text-align: center;
    border-radius: 5px
  }

  .nav-item.active {
      background-color: #9E9E9E
  }

  .nav-item.active:hover {
      background-color: #9E9E9E
  }

  /* limiting icon text show before rendering icon */
  .clat-icon, .bell-icon {
    max-width: 25px;
    overflow: hidden;
  }
}

/* @media (min-width: 1600px) {
  } */
