<!-- todo: public jobs page and jobs page code are some. will make it common code in future -->
  <!---------------------- job preview Modal ---------------------->
  <!-- <div *ngIf="jobs.length > 0" class="modal fade" id="previewJobModal"> -->
  <!-- <div class="modal fade" id="previewJobModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content"> -->
        <!-- Modal body -->
        <!-- <div class="modal-body job-details">
          <app-prv-job-content
            [profile]="selectedJob?.employer"
            [job]="selectedJob"
            (onClick)="showProfile($event)"
          >
          </app-prv-job-content>
        </div> -->

        <!-- Modal footer -->
        <!-- <div class="modal-footer" style="padding: 0px;"> -->
          <!-- apply -->
          <!-- <span *ngIf="!selectedJob?.is_owner_job">
            <button
              type="button"
              class="material-btn-contained btn-streched-large"
              (click)="applyJob(selectedJob)"
              data-toggle="modal"
              data-target="#loginModal"
            >
              Apply
            </button>
          </span> -->

          <!-- share -->
          <!-- <app-job-share [job]="selectedJob"></app-job-share>
        </div>
      </div>
    </div>
  </div> -->