 <div class="container">
    <br>
    <div class="head" style="margin-top: -20px;">
        <b>COOKIE POLICY</b>
    </div>
    <div class="">
        This policy describes how Yaywerk uses cookies on <a href="https://www.yaywerk.com">https://www.yaywerk.com</a> (the “Site”). 
        We recommend that you also consult our Privacy Policy for additional information on how we collect and use information collected 
        from visitors to the Site. This policy is effective May 5, 2015. Your continued use of the Site after that will signify your 
        acceptance of this policy. We may modify this Agreement without notifying you, so please check back often for updates.
        By using the Site, you agree that we can use the cookies described in this Cookie Policy. You can stop cookies by changing the 
        settings in your browser (more information on how to do this is provided below).        
    </div>
    <div class="head">
        <b>
            WHAT ARE COOKIES?
        </b>
    </div>
    <div class="">
        Cookies are text files, containing small amounts of information, which are downloaded to your browsing device (such as a computer 
        or smartphone) when you visit a website. Cookies can be recognized by the website that downloaded them — or other websites that 
        use the same cookies. This helps websites know if the browsing device has visited them before.
    </div>
    <div class="head">
        <b>
            WHAT ARE COOKIES USED FOR?
        </b>
    </div>
    <div class="">
        Cookies do lots of different jobs, like helping us understand how the Site is being used, letting you navigate between pages 
        efficiently, remembering your preferences, and generally improving your browsing experience. Cookies can also help ensure 
        marketing you see online is more relevant to you and your interests.
    </div>
    <div class="head">
        <b>
            WHAT TYPES OF COOKIES DOES Yaywerk USE?
        </b>
    </div>
    <div>
        The type of cookies used on most websites can generally be put into one of six categories: Strictly Necessary, Performance, 
        Functionality, Flash, Tailored Content and Targeting. In order to provide you with the best browsing experience, Yaywerk uses 
        all of these categories on the Site. You can find out more about each cookie category in the sections below.
    </div>
    <div class="head">
        <b>
            STRICTLY NECESSARY COOKIES
        </b>
    </div>
    <div>
        These cookies are essential, as they enable you to move around the Site and use its features, such as accessing secure areas. 
        Without these cookies, some services you have asked for such as payment submission can’t be provided.
    </div>
    <div class="head">
        <b>
            PERFORMANCE COOKIES
        </b>
    </div>
    <div>
        These cookies collect information about how you use the Site, for example which pages you go to most often and if you get error 
        messages from certain pages. These cookies don’t gather information that identifies you. All information these cookies collect 
        is anonymous and is only used to improve how the Site works.
    </div>
    <div class="head">
        <b>
            FUNCTIONALITY COOKIES
        </b>
    </div>
    <div>
        These cookies allow the Site to remember choices you make (such as your user name, language or the region you’re in). For instance, 
        the Site uses functionality cookies to remember your language preference. These cookies can also be used to remember changes you’ve 
        made to text size, font and other parts of pages that you can customize. They may also be used to provide services you’ve asked 
        for such as watching a video or commenting on a blog. The information these cookies collect may be anonymous and they cannot 
        track your browsing activity on other websites.
    </div>
    <div class="head">
        <b>
            FLASH COOKIES
        </b>
    </div>
    <div>
        We may, in certain circumstances, use Adobe Flash Player to deliver special content, such as video clips or animation. To improve 
        your user experience, Local Shared Objects (commonly known as “Flash cookies”) are employed to provide functions such as 
        remembering your settings and preferences. Flash cookies are stored on your device, but they are managed through an interface 
        different from the one provided by your web browser. This means it is not possible to manage Flash cookies through your browser 
        in the same way you would normally manage cookies. Instead, you can access your Flash management tools from Adobe’s website. 
    </div>
    <div class="head">
        <b>
            TAILORED CONTENT COOKIES
        </b>
    </div>
    <div>
        Tailored content cookies help the Site provide enhanced features and display content in a way that is relevant to you. These 
        cookies help the Site determine what information to show you based on how you have used the Site previously. These cookies do 
        not track your browsing activity on other websites.
    </div>
    <div class="head">
        <b>
            TARGETING COOKIES
        </b>
    </div>
    <div>
        These cookies are used to deliver advertisements that are more relevant to you and your interests. They are also used to limit 
        the number of times you see an advertisement as well as help measure the effectiveness of an advertising campaign. They remember 
        that you have visited a website and this information may be shared with other organizations such as advertisers. This means after 
        you have been to the Site you may see some advertisements about our services elsewhere on the Internet.
    </div>
    <div class="head">
        <b>
            HOW LONG WILL COOKIES STAY ON MY BROWSING DEVICE?
        </b>
    </div>
    <div>
        The length of time a cookie will stay on your browsing device depends on whether it is a “persistent” or “session” cookie. Session 
        cookies will only stay on your device until you stop browsing. Persistent cookies stay on your browsing device until they expire 
        or are deleted.
    </div>
    <div class="head">
        <b>
            FIRST AND THIRD PARTY COOKIES
        </b>
    </div>
    <div>
        First party cookies are cookies that belong to us, while third party cookies are cookies that another party places on your browsing 
        device through our Site. For example, Facebook will place a cookie on your browsing device if you click on the Facebook link when 
        browsing the Site.
    </div>
 </div>