<div class="jobInfo">
  <content-loader
    height="80"
    speed="1"
    primaryColor="#dddddd"
    secondaryColor="#c0c0c0"
  >
    <svg:rect x="70" y="15" rx="4" ry="4" width="85" height="6.4" />
    <svg:rect x="70" y="45" rx="3" ry="3" width="217" height="6.4" />
    <svg:circle cx="30" cy="30" r="20" />
  </content-loader>
</div>
<div class="jobInfo">
  <content-loader
    height="80"
    speed="1"
    primaryColor="#dddddd"
    secondaryColor="#c0c0c0"
  >
    <svg:rect x="70" y="15" rx="4" ry="4" width="85" height="6.4" />
    <svg:rect x="70" y="45" rx="3" ry="3" width="217" height="6.4" />
    <svg:circle cx="30" cy="30" r="20" />
  </content-loader>
</div>
<div class="jobInfo">
  <content-loader
    height="80"
    speed="1"
    primaryColor="#dddddd"
    secondaryColor="#c0c0c0"
  >
    <svg:rect x="70" y="15" rx="4" ry="4" width="85" height="6.4" />
    <svg:rect x="70" y="45" rx="3" ry="3" width="217" height="6.4" />
    <svg:circle cx="30" cy="30" r="20" />
  </content-loader>
</div>
<div class="jobInfo">
  <content-loader
    height="80"
    speed="1"
    primaryColor="#dddddd"
    secondaryColor="#c0c0c0"
  >
    <svg:rect x="70" y="15" rx="4" ry="4" width="85" height="6.4" />
    <svg:rect x="70" y="45" rx="3" ry="3" width="217" height="6.4" />
    <svg:circle cx="30" cy="30" r="20" />
  </content-loader>
</div>