<h5 class="header-card text-center">Work Experience</h5>

<div class="col-md-12 col-12 form-cotent">
	<div class="form-content-background">
		<div class="row">
			<!-- pager left -->
			<div class="col-md-3 pager-left" *ngIf="!isMobile">
				<a class="previous-link" routerLink="../about-yourself" (click)="onSubmit(workForm.value)">
					<i class="fa fa-2x fa-arrow-left" aria-hidden="true"></i>
				</a>
			</div>
	
			<div class="col-md-6 col-12 form-experience mx-auto">
				<div class="dots text-center">
					<div class="dotstyle dotstyle-scaleup">
						<ul>
							<li routerLinkActive="active current"><a routerLink="../about-yourself" (click)="onSubmit(workForm.value)">About</a></li>
							<li routerLinkActive="active current"><a routerLink="../work-experience" (click)="onSubmit(workForm.value)">Work Experience</a></li>
							<li routerLinkActive="active current"><a routerLink="../qualification" (click)="onSubmit(workForm.value)">Qualification</a></li>
							<li routerLinkActive="active current"><a routerLink="../award" (click)="onSubmit(workForm.value)">Projects and Recognition</a></li>
						</ul>
					</div>
				</div>
				<form *ngIf="!loading; else showLoading" #workExpForm="ngForm" [formGroup]="workForm" enctype="multipart/form-data">
					<div formArrayName="experiences">
						<div 
							class="card-form  content-bg"
							[ngClass]="(isMobile || expIndex==0)?'mt-1':'mt-4'"
							*ngFor="let workrow of workForm['controls'].experiences['controls']; let expIndex=index; let last=last; let first=first;"
							[formGroupName]="expIndex"
						>
							<!-- employer -->
							<div class="form-group">
								<div class="input-group">
									<label class="material-field">
										<input 
											formControlName="employer" 
											type="text"
											list="employer_list" 
											placeholder=" "
											[maxLength]="101"
											[readonly]="workrow.value.application_id != null"
											[ngClass]="{'readonly-input': workrow.value.application_id!=null}">
										<span>Employer</span>
									</label>
									<datalist id="employer_list">
										<option *ngFor="let employee of employers">{{employee.employer_name}}</option>
									</datalist>
									<div *ngIf="workForm.controls.experiences.controls[expIndex].controls.employer.touched" class="alert alert-danger">
										<div *ngIf="workForm.controls.experiences.controls[expIndex].controls.employer.value.length > 100">*Maximum 100 characters</div>
									</div>
								</div>
							</div>
	
							<!-- designation -->
							<div class="form-group">
								<div class="input-group">
									<label class="material-field">
										<input 
											formControlName="occupation" 
											type="text"
											list="occupation_list" 
											placeholder=" "
											[maxLength]="101"
											[readonly]="workrow.value.application_id != null"
											[ngClass]="{'readonly-input': workrow.value.application_id!=null}">
										<span>Designation / Describe your work</span>
									</label>
									<datalist id="occupation_list">
										<option *ngFor="let occupation of occupationList;">{{occupation.occupation_name}}</option>
									</datalist>
									<div *ngIf="workForm.controls.experiences.controls[expIndex].controls.occupation.touched" class="alert alert-danger">
										<div *ngIf="workForm.controls.experiences.controls[expIndex].controls.occupation.value.length > 100">*Maximum 100 characters</div>
									</div>
								</div>
							</div>
	
							<!-- period -->
							<div class="form-group">
								<div class="row">
									<!-- from -->
									<div class="col-5 form-group" style="padding-right: 0px">
										<div class="input-group">
											<label class="material-field">
												<input 
													formControlName="period_from" 
													matInput 
													[matDatepicker]="dateFromPicker" 
													(click)="dateFromPicker.open()" 
													placeholder=" " 
													readonly 
													[disabled]="workrow.value.application_id != null" 
													[ngClass]="{'readonly-input': workrow.value.application_id != null}">
												<span>When Started</span>
												<div class="input-group-append clear-date" *ngIf="workrow.value.application_id == null">
													<span class="input-group-text clear-dt-icon" (click)="resetFromDateInput(expIndex)">
														<i class="fa fa-times" aria-hidden="true"></i>
													</span>
												</div>
											</label>
											<mat-datepicker #dateFromPicker></mat-datepicker>
										</div>
									</div>
									<div class="col-1" style=" margin-top: 25px;">
										<i class="fa fa-minus" aria-hidden="true"></i>
									</div>
									<!-- to -->	
									<div class="col-5 form-group" style="padding-right: 0px">
										<div class="input-group">
											<label class="material-field">
												<input 
													formControlName="period_to" 
													matInput 
													[matDatepicker]="dateToPicker" 
													(click)="dateToPicker.open()" 
													placeholder=" " 
													readonly 
													[disabled]="workrow.value.application_id != null" 
													[ngClass]="{'readonly-input': workrow.value.application_id != null}">
												<span>When Ended</span>
												<div class="input-group-append clear-date" *ngIf="workrow.value.application_id == null">
													<span class="input-group-text clear-dt-icon" (click)="resetToDateInput(expIndex)">
														<i class="fa fa-times" aria-hidden="true"></i>
													</span>
												</div>
											</label>
											<mat-datepicker #dateToPicker></mat-datepicker>
										</div>
									</div>
								</div>
							</div>
	
							<!-- upload pictures -->
							<div class="form-group">
								<h5>Upload Pictures</h5>
								<p style="color: #aaa; margin-top: -10px;"><small>(Showcase your work, activities, awards, etc.)</small></p>
	
								<div class="row" style="margin-top: -10px">
									<div class="col-12">
										<swiper [config]="config">
											<!-- images -->
											<div
												class="swiper-slide"
												*ngFor="let item of workrow.value.work_images; let imageIndex = index;"
											>
												<label class="filebutton" id="showImg">
													<img 
														[src]="item.image"
														[id]="'prevWorkImg_'+expIndex+imageIndex" 
														alt="Image" 
														class="upload-image" />
													<span style="display:none">
														<input  
															type="file" 
															accept="image/*" 
															[id]="'workImg_'+expIndex+imageIndex" 
															(change)="onFileChange($event, expIndex, imageIndex)" 
															#fileInput>
													</span>
												</label>
												<button 
													type="button"
													[id]="'imgDelBtn_'+expIndex+imageIndex" 
													class="upload-img-del-btn pull-right"
													(click)="deleteImage(expIndex, imageIndex);"
												>
													<i class="fa fa-times" aria-hidden="true"></i>
												</button>
												<div class="form-group">
													<div class="input-group">
														<label class="material-field upload-describe-pic">
															<input 
																type="text"
																[id]="'workDescription_'+expIndex+imageIndex"
																class="form-control upload-describe-pic-input" 
																placeholder=" "
																value="{{item.description}}">
															<span>Describe The Picture</span>
														</label>
													</div>
												</div>
												<span><p *ngIf="imageError" style="color:red">Please upload Max 15 MB Size</p></span>
											</div>
	
											<!-- new images -->
											<ng-container *ngIf="{ imagesLength: workrow.value.work_images.length } as varibales">
												<div
													class="swiper-slide"
													*ngFor="let item of createRange(MAX_IMAGE_UPLOAD-varibales.imagesLength); let imageIndex = index;"
												>
													<label class="filebutton" id="showImg">
														<img 
															[src]="imageUpload"
															[id]="'prevWorkImg_'+expIndex+getImageIndex(varibales.imagesLength, imageIndex)" 
															alt="Image" 
															class="upload-image" />
														<span style="display:none">
															<input  
																type="file" 
																accept="image/*" 
																[id]="'workImg_'+expIndex+getImageIndex(varibales.imagesLength, imageIndex)" 
																(change)="onFileChange($event, expIndex, getImageIndex(varibales.imagesLength, imageIndex))" 
																#fileInput>
														</span>
													</label>
													<button 
														type="button"
														[id]="'imgDelBtn_'+expIndex+getImageIndex(varibales.imagesLength, imageIndex)" 
														class="upload-img-del-btn pull-right"
														(click)="deleteImage(expIndex, getImageIndex(varibales.imagesLength, imageIndex));"
														style="display:none"
													>
														<i class="fa fa-times" aria-hidden="true"></i>
													</button>
													<div class="form-group">
														<div class="input-group">
															<label class="material-field upload-describe-pic">
																<input 
																	type="text"
																	[id]="'workDescription_'+expIndex+getImageIndex(varibales.imagesLength, imageIndex)"
																	class="form-control upload-describe-pic-input" 
																	placeholder=" ">
																<span>Describe The Picture</span>
															</label>
														</div>
													</div>
													<span><p *ngIf="imageError" style="color:red">Please upload Max 15 MB Size</p></span>
												</div>
											</ng-container>
										</swiper>
									</div>
								</div>
								<small style="color: gray">
									Please upload Max 300 KB Size
								</small>
							</div>
	
							<!-- delete -->
							<div class="row justify-content-center">
								<button type="button" class="material-btn-text material-btn-danger" [routerLink]="" *ngIf="countCheck > 0" (click)="deleteRow(expIndex)">
									<i class="fa fa-trash" aria-hidden="true"></i> Delete
								</button>
							</div>
						</div>
					</div>
	
					<!-- add more -->
					<div class="row mb-2 justify-content-center" style="margin-top: -10px;">
						<button type="button" class="material-btn-outline material-btn-primary" [routerLink]="" (click)="addNewRow()" style="margin-right: 5px;">
							<i class="fa fa-plus" aria-hidden="true"></i> Add More
						</button>
					</div>
				</form>
	
				<ng-template #showLoading>
					<div class="card-form">
						<content-loader height="140" speed="1" primaryColor="#dddddd" secondaryColor="#c0c0c0">
							<svg:rect x="0" y="10" rx="4" ry="4" width="400" height="10" />
							<svg:rect x="0" y="50" rx="4" ry="4" width="400" height="10" />
					
							<svg:rect x="0" y="90" rx="4" ry="4" width="180" height="10" />
							<svg:rect x="225" y="90" rx="4" ry="4" width="180" height="10" />
					
							<svg:rect x="0" y="130" rx="4" ry="4" width="180" height="10" />
							<svg:rect x="225" y="130" rx="4" ry="4" width="180" height="10" />
						</content-loader>
					</div>
					<div class="card-form" style="margin-top: 20px;">
						<content-loader height="140" speed="1" primaryColor="#dddddd" secondaryColor="#c0c0c0">
							<svg:rect x="0" y="10" rx="4" ry="4" width="400" height="10" />
							<svg:rect x="0" y="50" rx="4" ry="4" width="400" height="10" />
					
							<svg:rect x="0" y="90" rx="4" ry="4" width="180" height="10" />
							<svg:rect x="225" y="90" rx="4" ry="4" width="180" height="10" />
					
							<svg:rect x="0" y="130" rx="4" ry="4" width="180" height="10" />
							<svg:rect x="225" y="130" rx="4" ry="4" width="180" height="10" />
						</content-loader>
					</div>
				</ng-template>
			</div>
	
			<!-- pager right -->
			<div class="col-md-3 pager-right" *ngIf="!isMobile">
				<a class="next-link" routerLink="../qualification" (click)="onSubmit(workForm.value)">
					<i class="fa fa-2x fa-arrow-right" aria-hidden="true"></i>
				</a>
			</div>
			
			<!-- pager for mobile -->
			<div class="col-12 my-auto mx-auto pager" *ngIf="isMobile">
				<ul>
					<li class="previous"><a routerLink="../about-yourself" (click)="onSubmit(workForm.value)">&larr; Back</a></li>
					<li class="next"><a routerLink="../qualification" (click)="onSubmit(workForm.value)">Next &rarr;</a></li>
				</ul>
			</div>
		</div> 
	</div>
</div>

<app-error-modal *ngIf="showErrorModal"></app-error-modal>