.row{
    margin: 0px;
}

::ng-deep .content-bg{
    background: white !important;
    padding: 10px;
    border: 1px solid #ddd;
}
.form-cotent {
    min-height: 90.5vh; 
    background: url('../../../assets/images/landing-page/left-bg-star.png') !important;
    overflow-x: hidden;
    z-index: 1;
}
.form-content-background {
    background: #f2f3f5b3;
    position: absolute;
    top: 57px;
    left: 0;
    width: 100%;
    min-height: 90.5vh; 
}