<div class="modal fade" id="fieldsErrorModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">
					<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
					Oops.
				</h4>
			</div>

			<!-- Modal body -->
			<div class="modal-body">
				Please fill up the mandatory(*) fields first.
			</div>

			<!-- Modal footer -->
			<div class="modal-footer">
				<button 
					type="button" 
					class="btn btn-secondary" 
					data-dismiss="modal" 
					(click)="moveStepper(0)">
					Take Me There
				</button>
			</div>
		</div>
	</div>
</div>