<app-public-header></app-public-header>

<ng-progress [color]="'#00ccff'" [thick]="true" [spinner]="false"></ng-progress>

<div class="container" style="margin-top: 23vh">
  <form
    #form="ngForm"
    [formGroup]="verifyForm"
    (ngSubmit)="verifyOtp(verifyForm.value)"
  >
    <div class="col-md-4 mx-auto mt-3">
      <h5 class="mt-3">Verify Your Number</h5>
      <p>Thanks for signing up! Please enter the otp sent to your registered phone number.</p>
        <div class="form-group input-group mt-3">
          <label class="material-field">
            <input
              formControlName="code"
              type="text"
              class="form-control"
              placeholder=" "
            />
            <span>OTP Code</span>
          </label>
          <div
            *ngIf="verifyForm.get('code').touched && verifyForm.get('code').invalid"
            class="alert alert-danger"
          >
            <div *ngIf="verifyForm.get('code').errors.required">
              *OTP Code is required
            </div>
            <div *ngIf="verifyForm.get('code').errors.minlength">
              *OTP Code should be minimum
              {{ verifyForm.get("code").errors.minlength.requiredLength }} characters
            </div>
            <div *ngIf="verifyForm.get('code').errors.maxlength">
              *OTP Code should be maximum
              {{ verifyForm.get("code").errors.maxlength.requiredLength }} characters
            </div>
            <div *ngIf="verifyForm.get('code').errors.pattern">
              *Invalid OTP Code. Use Only Numbers.
            </div>
            <div *ngIf="verifyForm.get('code').errors.backend">
              *{{ verifyForm.get("code").errors.backend }}
            </div>
          </div>
        </div>
    
        <div class="confirm text-center">
          <ng-container *ngIf="!circleSpin; else loaderConfirm">
            <button type="submit" class="btn btn-primary conf-btn" style="border-radius: 10px">
              Confirm
            </button>
          </ng-container>
          <ng-template #loaderConfirm>
            <button type="submit" class="btn conf-btn" disabled>
              <i class="fa fa-circle-o-notch fa-spin"></i>
              Confirm
            </button>
          </ng-template>
        </div>
    </div>
  </form>

  <!-- register link -->
  <div class="hint-text text-center" style="font-size: 14px;">
    Plese verify your OTP within {{secondsToMinutes(timeLeft)}} Seconds. 
    <br>
    Not Working?
    <a
      href="javascript:void(0)"
      (click)="resendOTP()"
    >
      Resend Code
    </a>
  </div>
</div>

<app-login></app-login>
<app-register></app-register>
