<div class="container">
  <div class="row">
    <div class="col-12">
      <content-loader height="640" speed="1" primaryColor="#dddddd" secondaryColor="#c0c0c0">
        <svg:rect x="0" y="15" rx="4" ry="4" width="400" height="100" />
      
        <svg:circle cx="210" cy="105" r="80" />
      
        <svg:rect x="140" y="190" rx="4" ry="4" width="140" height="10" />
        <svg:rect x="120" y="210" rx="4" ry="4" width="180" height="10" />
      
        <svg:rect x="0" y="270" rx="4" ry="4" width="300" height="10" />
        <svg:rect x="0" y="290" rx="4" ry="4" width="350" height="10" />
        <svg:rect x="0" y="310" rx="4" ry="4" width="400" height="10" />
      
        <svg:rect x="0" y="350" rx="4" ry="4" width="300" height="10" />
        <svg:rect x="0" y="370" rx="4" ry="4" width="350" height="10" />
        <svg:rect x="0" y="390" rx="4" ry="4" width="400" height="10" />
      
        <svg:rect x="0" y="430" rx="4" ry="4" width="300" height="10" />
        <svg:rect x="0" y="450" rx="4" ry="4" width="350" height="10" />
        <svg:rect x="0" y="470" rx="4" ry="4" width="400" height="10" />
      </content-loader>
    </div>
  </div>
</div>
